params {
    fastq_dir       = "data/fastq_files"
    ref_genome      = "data/ref_files/ref_mpxv_rivers.fasta"
    metadata_file   = "data/sample_metadata/metadata.csv"
    outdir          = "${projectDir}/Results"
    bed_file        = 'data/ref_files/primer_new_v3.bed'
    pathogen        = 'MPX'


    dashboard_title = 'MPXV Dashboard'
    dashboard_desc   = 'Data provided by X. Analyzed using Freyja'
}


timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.pathogen}_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.pathogen}_report.html"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.pathogen}_dag.html"
    overwrite = true
}




