params {
    fastq_dir       = "data/fastq_files"
    ref_genome      = "data/ref_files/ref_mpxv_rivers.fasta"
    outdir          = "${projectDir}/Results"
    bed_file        = 'data/ref_files/primer_new_v3.bed'
    pathogen        = 'MPXV'
}


timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.pathogen}_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.pathogen}_report.html"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${params.pathogen}_dag.html"
}




